@media (max-width: 800px) {
  header {
    justify-content: space-between;
  }
  header .list {
    display: none;
  }
  body .hero {
    flex-direction: column-reverse;
    width: 100%;
    padding-bottom: 3rem;
  }
  body .hero .details {
    width: 100%;
  }
  body .hero .headset {
    width: 100%;
  }
}
@media (max-width: 725px) {
  .main-headset {
    flex-direction: column;
  }
  body .main-headset div {
    width: 100%;
  }
  footer .container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

@media (max-width: 1200px) {
  body .products {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 2rem;
  }
  body .main-earpods .img-con img {
    width: 100%;
  }
  body .main-earpods .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }
  body .main-earpods .container .info {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  body .products {
    grid-template-columns: repeat(1, 1fr);
    padding-block: 8rem;
    grid-gap: 5rem;
    padding-inline: 1rem;
  }
}
@media (max-width: 890px) {
  .main-headset {
    padding-inline: 2rem;
  }
  .main-headset .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
  }
  .main-headset .container .info {
    align-items: center;
    width: 100%;
  }
  body .main-speaker {
    padding-inline: 2rem;
  }
  body .main-speaker .container {
    width: 100%;
  }
  body .main-speaker .container .info {
    width: 100%;
    align-items: start;
  }
  body .main-speaker .container .info p {
    width: max-content;
    font-size: 1rem;
  }
  body .main-earpods {
    padding-inline: 2rem;
  }
  body .audiophile {
    padding-inline: 2rem;
  }
  body .audiophile .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  body .audiophile .container .person {
    grid-area: -1;
  }
  footer .container{
    padding-inline: 2rem;
  }
}
